<div class="w-full max-w-sm bg-white border border-gray-200 rounded-2xl shadow-lg p-6 flex flex-col items-center">
  <!-- Icono grande -->
  <div class="mb-4">
    <fa-icon [icon]="['fas', getIconName('faUser')]" class="text-gray-500" style="font-size: 64px;"></fa-icon>
  </div>
  <!-- Código y descripción -->
  <h5 class="text-xl font-bold text-gray-800 mb-1 text-center">{{ person().codigo }}</h5>
  <span class="text-sm text-gray-600 mb-4 text-center">{{ person().nombresApellidos }}</span>

  <!-- Botones -->
  <div class="flex flex-col sm:flex-row gap-2 w-full">
    <a 
      
      class="flex-1 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
    >
      Ver Detalles
    </a>
    
    <button 
   
      type="button"
      class="flex-1 text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
    >
      Eliminar
    </button>
  </div>
</div>
