<div class="bg-white rounded-xl shadow-lg p-6 h-full">
  <h2 class="text-2xl font-bold text-gray-800 mb-6">
    Agregar nuevo Síntoma/Signo
  </h2>

  <form [formGroup]="form" (ngSubmit)="confirm()" class="space-y-4 pt-5">
    <!-- Campo Código REUP -->
    <div>
      <label class="block text-sm font-medium text-gray-600 mb-2">Código</label>
      <input type="text" formControlName="nombre"
        [class.border-red-300]="form.controls.nombre.invalid && form.controls.nombre.touched"
        class="w-full px-4 py-2.5 border border-gray-200 rounded-lg focus:ring-2 ring-blue-500 outline-none transition-all">

      <!-- Mensaje de error -->
      @if (form.controls.nombre.invalid && form.controls.nombre.touched) {
      <p class="text-red-500 text-sm mt-1">Debe indicar el nombre del marcador</p>
      }
    </div>

    <!-- Campo Nombre -->
    
<button type="button"
        class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center me-1 mb-1 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
        (click)="cancel()">Cancelar</button>

     <button type="button" [disabled]="form.invalid"
        class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center me-1 mb-1 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
        (click)="confirm()">Agregar</button>
  </form>
</div>
